<%# home page %>
<h1>The Blog</h1>

<div id="all-users">
  <h3>All users:</h3>
      <% @users.each do |user| %>
      <div id='users-index'>
        <li>
          <h3><%= link_to(user.username, user) %></h3>
        </li>
     </div>
    <% end %>
</div>
  <p>
    <%= link_to('Create User', new_user_path)%>
  </p>

<%#= image_tag "gizmo.jpg" %>
