<%# login/edit template %>
<div id="post-form">
    <%= form_for @post do |f| %>
        <h3><%= f.label :Add_post %></h3>
        <hr>
        <%= f.text_area :body, class: "text-area" %>
        </br>
        <button>
            <h2>Submit <%= f.submit %> </h2>
        </button>
    <% end %>
</div>
