<div id="blog-posts">
  <h1>Blog Posts</h1>

    <p>
      <%= link_to('Create Post', new_post_path)%>
    </p>
</div>
  <div id='blogs-index'>
    <% @posts.reverse.each do |post| %>
    <li class="all-posts">
    <p>Click on post to view or add comments</p>
    <p>Created: <%= post.user.created_at %>
    <p>Blog Post: <%= link_to(post.body, post) %> </p>
    <p>By: <%= post.user.username %>  </p>
    
    </li>
  <% end %>

  
