body {
    margin-left: 15% !important;
    margin-right: 20% !important;
    display: block;
    width: 990px;
    background: url("https://res.cloudinary.com/angelrodriguez/image/upload/v1537011402/doggies.jpg");
    background-size: cover;
}

#title {
    text-align: center;
    border: 10px solid black;
    background: rgb(236, 236, 5);
    margin-left: 25%;
    margin-right: 20%;
    height: auto;
    width: 500px;
    opacity: 0.8px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

.username {
    margin-right: 13%;
}

#sign-in,#comment-form, #post-form, #user-show, #blog-posts, #login-message, nav {
    border: 7px solid black;
    background: rgb(18, 230, 11);
    height: auto;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25%;
    text-align: center;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#flash-notice {
    background: rgb(202, 122, 212);
    font-family: 'Noto Serif KR', sans-serif;
    height: auto;
    width: 200px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#blog-posts, #post-form, #comment-form {
    background: orange;
}

li, .nav-link {
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    color: rgb(2, 2, 2);
}

.nav-link {
    margin-left: 5%;
}

a {
    color: rgb(95, 6, 6) !important;
    // background: rgb(113, 113, 156);
}

.all-posts, #all-users, #single-post, #single-comment, #user-form {
    border: 5px dashed black;
    border-radius: 5px;
    background: rgb(236, 5, 132);
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#single-comment {
    border: 5px dotted black;
    background: rgb(42, 106, 167);
    width: 500px;
    margin-left: 25%;
}

#all-users {
    text-align: center;
}

.text-area {
    width: 300px;
    height: 100px;
}

#logged-in {
    color: rgb(3, 37, 70);
}

.navbar {
    display: block;
}
