:root {
    --vt-font: 'VT323', monospace;
    --nova-font: 'Nova Mono', monospace;
    --audio-font: 'Audiowide', cursive;   
}

* {
    text-decoration: none;
}

body {
    margin-left: 15%;
    margin-right: 20%;
    width: 990px;
    font-family: var(--audio-font);
    font-size: 1.2em;
    background: url("https://res.cloudinary.com/angelrodriguez/image/upload/c_crop,h_1000,w_1000,y_0/v1544124499/cartoon-dogs-vector-432614.jpg");
    background-size: contain;
    cursor: pointer;
}

#title {
    text-align: center;
    border: 10px solid black;
    background: rgb(236, 236, 5);
    margin-left: 25%;
    margin-right: 20%;
    height: auto;
    width: 500px;
    opacity: 0.8px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

.username {
    margin-right: 13%;
}

hr {
    height: 10px;
    background-color: rgb(8, 8, 8);
    border: none;
}

#sign-in,#comment-form, #edit-comment-form, #post-form, #user-show, #blog-posts, #login-message, nav {
    border: 7px solid black;
    background: rgb(18, 230, 11);
    height: auto;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 25%;
    text-align: center;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#user-show {
    background-color: rgb(247, 20, 255);
}

#sign-in {
    text-align: left !important;
}

#flash-notice {
    background: rgb(202, 122, 212);
    font-family: 'Noto Serif KR', sans-serif;
    height: auto;
    width: 200px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#blog-posts, #post-form, #comment-form {
    background: orange;
}

#single-comment {
    border: 5px dotted black;
    background: rgb(42, 106, 167);
    width: 500px;
    margin-left: 25%;
}

li, .nav-link {
    list-style-type: none;
    text-decoration: none;
    margin: 5px;
    color: rgb(2, 2, 2);
}

input {
    display: block;
    // margin-left: 30% !important;
    border-radius: 5px;
    width: 200px;
    height: 30px;
}

button {
    background-color: blue;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 5px !important;
}

.nav-link {
    margin-left: 5%;
}

a {
    color: rgb(95, 6, 6);
}

.all-posts, #all-users, #single-post, #single-comment, #user-form {
    border: 5px dashed black;
    border-radius: 5px;
    background: rgb(236, 5, 132);
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 5px 3px rgb(128, 126, 126);
}

#single-comment {
    border: 5px dotted black;
    background: rgb(42, 106, 167);
    width: 500px;
    margin-left: 25%;
}

#all-users {
    text-align: center;
}

.text-area {
    width: 300px;
    height: 100px;
}

#logged-in {
    color: rgb(3, 37, 70);
}

.navbar {
    display: block;
}

@media screen and (min-width: 400px) {
    body {
        overflow-x: hidden !important;
    } 
    
    .all-posts, #all-users, #single-post, #user-form  {
        width: 900px; 
    }

    #single-comment {
        width: 500px;
    }
 }